{% if first_inventory_source | default(true) | bool %}
---
controller_inventory_sources:
{% endif %}
{% for inventory_source in current_inventory_sources_asset_value %}
  - name: "{{ inventory_source.name }}"
    description: "{{ template_overrides_resources.inventory_source[inventory_source.name].description
                     | default(template_overrides_global.inventory_source.description)
                     | default(inventory_source.description) }}"
{% if inventory_source.summary_fields.organization is defined %}
    organization: "{{ inventory_source.summary_fields.organization.name }}"
{% endif %}
{% set _source_type = template_overrides_resources.inventory_source[inventory_source.name].source
                | default(template_overrides_global.inventory_source.source)
                | default(inventory_source.source)
                | default('ToDo: The source of the inventory_source was originally missing and must be specified', true) %}
{% if _source_type != 'constructed' %}
    source: "{{ template_overrides_resources.inventory_source[inventory_source.name].source
                | default(template_overrides_global.inventory_source.source)
                | default(inventory_source.source)
                | default('ToDo: The source of the inventory_source was originally missing and must be specified', true) }}"
{% endif %}
{% if template_overrides_resources.inventory_source[inventory_source.name].limit is defined
      or template_overrides_global.inventory_source.limit is defined
      or inventory_source.limit is defined %}
    limit: "{{ template_overrides_resources.inventory_source[inventory_source.name].limit
                     | default(template_overrides_global.inventory_source.limit)
                     | default(inventory_source.limit) }}"
{% endif %}
{% if template_overrides_resources.inventory_source[inventory_source.name].source_project is defined
      or template_overrides_global.inventory_source.source_project is defined
      or inventory_source.summary_fields.source_project is defined %}
    source_project: "{{ template_overrides_resources.inventory_source[inventory_source.name].source_project
                        | default(template_overrides_global.inventory_source.source_project)
                        | default(inventory_source.summary_fields.source_project.name) }}"
{% endif %}
{% if template_overrides_resources.inventory_source[inventory_source.name].source_path is defined
      or template_overrides_global.inventory_source.source_path is defined
      or inventory_source.source_path is defined %}
    source_path: "{{ template_overrides_resources.inventory_source[inventory_source.name].source_path
                     | default(template_overrides_global.inventory_source.source_path)
                     | default(inventory_source.source_path) }}"
{% endif %}
{% if template_overrides_resources.inventory_source[inventory_source.name].source_vars is defined
      or template_overrides_global.inventory_source.source_vars is defined
      or (inventory_source.source_vars is defined and inventory_source.source_vars != '---' and inventory_source.source_vars != '') %}
    source_vars:
      {{ template_overrides_resources.inventory_source[inventory_source.name].source_vars
         | default(template_overrides_global.inventory_source.source_vars)
         | default(inventory_source.source_vars)
         | from_yaml | to_nice_yaml(indent=2, sort_keys=False) | indent(width=6, first=False) | regex_replace('(^[^:]*): (.*){([{%])', '\\g<1>: !unsafe \\g<2>{\\g<3>', multiline=True)}}
{%- endif %}
    inventory: "{{ inventory_source.summary_fields.inventory.name }}"
    update_on_launch: "{{ template_overrides_resources.inventory_source[inventory_source.name].update_on_launch
                          | default(template_overrides_global.inventory_source.update_on_launch)
                          | default(inventory_source.update_on_launch) }}"
    overwrite: "{{ template_overrides_resources.inventory_source[inventory_source.name].overwrite
                   | default(template_overrides_global.inventory_source.overwrite)
                   | default(inventory_source.overwrite) }}"
{% if template_overrides_global.inventory_source.credential is defined
      or template_overrides_global.inventory_source.credential is defined
      or inventory_source.summary_fields.credential is defined %}
    credential: "{{ template_overrides_resources.inventory_source[inventory_source.name].credential
                    | default(template_overrides_global.inventory_source.credential)
                    | default(inventory_source.summary_fields.credential.name) }}"
{% endif %}
{% if template_overrides_resources.inventory_source[inventory_source.name].scm_branch is defined
      or template_overrides_global.inventory_source.scm_branch is defined
      or inventory_source.scm_branch is defined %}
    scm_branch: "{{ template_overrides_resources.inventory_source[inventory_source.name].scm_branch
                          | default(template_overrides_global.inventory_source.scm_branch)
                          | default(inventory_source.scm_branch) }}"
{% endif %}
{% if template_overrides_resources.inventory_source[inventory_source.name].host_filter is defined
      or template_overrides_global.inventory_source.host_filter is defined
      or inventory_source.host_filter is defined %}
    host_filter: "{{ template_overrides_resources.inventory_source[inventory_source.name].host_filter
                           | default(template_overrides_global.inventory_source.host_filter)
                           | default(inventory_source.host_filter) }}"
{% endif %}
{% if template_overrides_resources.inventory_source[inventory_source.name].enabled_var is defined
      or template_overrides_global.inventory_source.enabled_var is defined
      or inventory_source.enabled_var is defined %}
    enabled_var: "{{ template_overrides_resources.inventory_source[inventory_source.name].enabled_var
                           | default(template_overrides_global.inventory_source.enabled_var)
                           | default(inventory_source.enabled_var) }}"
{% endif %}
{% if template_overrides_resources.inventory_source[inventory_source.name].enabled_value is defined
      or template_overrides_global.inventory_source.enabled_value is defined
      or inventory_source.enabled_value is defined %}
    enabled_value: "{{ template_overrides_resources.inventory_source[inventory_source.name].enabled_value
                             | default(template_overrides_global.inventory_source.enabled_value)
                             | default(inventory_source.enabled_value) }}"
{% endif %}
{% if template_overrides_resources.inventory_source[inventory_source.name].overwrite_vars is defined
      or template_overrides_global.inventory_source.overwrite_vars is defined
      or inventory_source.overwrite_vars is defined %}
    overwrite_vars: {{ template_overrides_resources.inventory_source[inventory_source.name].overwrite_vars
                              | default(template_overrides_global.inventory_source.overwrite_vars)
                              | default(inventory_source.overwrite_vars | bool | lower) }}
{% endif %}
{% if template_overrides_resources.inventory_source[inventory_source.name].timeout is defined
      or template_overrides_global.inventory_source.timeout is defined
      or inventory_source.timeout is defined %}
    timeout: {{ template_overrides_resources.inventory_source[inventory_source.name].timeout
                       | default(template_overrides_global.inventory_source.timeout)
                       | default(inventory_source.timeout) }}
{% endif %}
{% if template_overrides_resources.inventory_source[inventory_source.name].verbosity is defined
      or template_overrides_global.inventory_source.verbosity is defined
      or inventory_source.verbosity is defined %}
    verbosity: {{ template_overrides_resources.inventory_source[inventory_source.name].verbosity
                         | default(template_overrides_global.inventory_source.verbosity)
                         | default(inventory_source.verbosity) }}
{% endif %}
{% if template_overrides_resources.inventory_source[inventory_source.name].update_cache_timeout is defined
      or template_overrides_global.inventory_source.update_cache_timeout is defined
      or inventory_source.update_cache_timeout is defined %}
    update_cache_timeout: {{ template_overrides_resources.inventory_source[inventory_source.name].update_cache_timeout
                                    | default(template_overrides_global.inventory_source.update_cache_timeout)
                                    | default(inventory_source.update_cache_timeout) }}
{% endif %}
{% if template_overrides_resources.inventory_source[inventory_source.name].execution_environment is defined
      or template_overrides_global.inventory_source.execution_environment is defined
      or inventory_source.summary_fields.execution_environment is defined %}
    execution_environment: "{{ template_overrides_resources.inventory_source[inventory_source.name].execution_environment
                               | default(template_overrides_global.inventory_source.execution_environment)
                               | default(inventory_source.summary_fields.execution_environment.name) }}"
{% endif %}
{% set query_notification_error = query(controller_api_plugin, inventory_source.related.notification_templates_error,
                     host=controller_hostname, oauth_token=controller_oauthtoken, verify_ssl=controller_validate_certs,
                     return_all=true, max_objects=query_controller_api_max_objects) %}
{% set query_notification_started = query(controller_api_plugin, inventory_source.related.notification_templates_started,
                     host=controller_hostname, oauth_token=controller_oauthtoken, verify_ssl=controller_validate_certs,
                     return_all=true, max_objects=query_controller_api_max_objects) %}
{% set query_notification_success = query(controller_api_plugin, inventory_source.related.notification_templates_success,
                     host=controller_hostname, oauth_token=controller_oauthtoken, verify_ssl=controller_validate_certs,
                     return_all=true, max_objects=query_controller_api_max_objects) %}
{% if query_notification_error | length > 0 %}
    notification_templates_error:
{% for notification_error in query_notification_error %}
      - "{{ notification_error.name }}"
{% endfor %}
{% endif %}
{% if query_notification_started | length > 0 %}
    notification_templates_started:
{% for notification_started in query_notification_started %}
      - "{{ notification_started.name }}"
{% endfor %}
{% endif %}
{% if query_notification_success | length > 0 %}
    notification_templates_success:
{% for notification_success in query_notification_success %}
      - "{{ notification_success.name }}"
{% endfor %}
{% endif %}
{% endfor %}
{% if (last_inventory | default(true) | bool) and (last_inventory_source | default(true) | bool) %}
...
{% endif %}
